header,
main {
    margin: 50px 140px;
}

.happy-year {
    background-image: url('/image/Banner.png');
    width: 1320px;
    height: 600px;
    align-items: center;

}

.happy-contain {
    padding: 177px 344px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.happy {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding: 177px 530px 0px 530px; */

}

.year {
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    /* padding: 0 344px 384px 344px; */

}

.discount {
    display: inline-block;
    justify-content: center;
    padding: 120px 260px;
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 68px;
    padding-bottom: 10px;
}

.holyday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    padding-top: 0;
}

.all {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
}

.welcome {
    background-image: url('/image/Vectorrr.png');
    width: 1320px;
    height: 600px;
    align-items: center;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;

}

.welcome-contener {
    background: linear-gradient(90deg, #070211 10%, rgba(7, 2, 17, 0.00) 100%);
    height: 100%;
    border-radius: 16px;
}

.midnight {
    padding: 126px 100px 0 126px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 7.04px;
    width: 40%;
}

.Dolor {
    padding: 0 100px 0 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.join {
    padding: 0 200px 0 158px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
}

.address-contener {
    margin-top: 50px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    text-align: center;
}

.address {
    padding: 150px 385px 0px 385px;
    text-align: center;
}

.address h2 {
    line-height: 20px;
}

span {
    color: #F00;
}

.join-now {
    justify-content: center;
    padding: 30px 575px;
}

#join {
    text-align: center;
    padding: 12px 32px;
    border-radius: 8px;
    background: #F00;
    color: white;
    border: 0;
}

.coming-soon-contener {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coming-soon-text {
    width: 393px;
    padding: 100px 70px 100px 0;
}

.coming-soon-ing {
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    text-align: center;

}

.coming-soon-ing img {
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;
    text-align: center;
    border: 50px solid white;
}

.coming-soon-2024 {
    width: 276px;
    padding: 118px 50px 118px 118px;
}

.discount50 {
    display: flex;
    justify-content: right;
}

.under img {
    margin-bottom: -4px;
}

.over {
    position: relative;
    left: 50px;
    top: 50px;
    width: 206.841px;
    height: 206.841px;
}

.background {
    margin-top: 0;
    background-image: url('/image/Rectangle\ 2.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 229px;
    text-align: left;
}

.background img {
    position: relative;
    bottom: 100px;
    left: 100px;
    width: 400px;
    height: 320px;
}

.portfolio {
    margin-top: 600px;
}

/* .portfolio-contener {
    display: flex;


} */

.portfolio-content {
    text-align: left;
    width: 40%;
    line-height: 10px;
}

.portfolio-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-img {
    display: block;
}
.portfolio-img-style{
  display: flex;  
  gap: 24px;
  width: 1140px;
  margin-bottom: 24px;
}
.portfolio-img-style-1{
    display: flex;  
    gap: 24px;
    width: 1140px; 
}

.subscribe-contener {
    margin-top: 50px;
    background-color: rgb(242, 177, 93);
    width: 1320px;
    height: 582px;
    border-radius: 16px;
    text-align: center;
}
.subscribe-now {
    display: inline;
}

#usear {
    width: 400px;
    height: 40px;
    border-radius: 50px;
    background: #FFF;
    border: 0;
    padding-left: 20px;
}

#subscribe {
    width: 120px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: white;
    border: 0;
    position: relative;
    top: 0px;
    right: 100px;
   
}
hr{
    margin: 0 140px;
}
.footer{
    background-color: rgb(20, 15, 15);
}
.footer-h{
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    padding: 120px 140px 50px 140px;
    text-align: center;
}
.footer-m{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 48px;
}
.footer-l{
    display: flex;
    justify-content: space-between;
    padding:50px 140px 50px 140px;
    color: aliceblue;

}